body {
    background: black;
    color: greenyellow;
}

.jumbotron {
    background: black;
}

.crystal-image {
    width: 300px;
    height: 300px;
}

h1 {
    font-size: 28px;
}

#crystals {
    margin: 0% 17%;
}